#head {
    width: 100%;
    height: 107.69px;
    background-color: rgb(49, 92, 76);
}

.radius-10 {
    border-radius: 3px;
}

#basic-addon2 {
    background-color: rgb(192, 202, 211);
}

#search {
    margin-top: 40px;
}

#logo {
    margin-top: 20px;
}

#login {
    margin-top: 45px;
}

#login a {
    text-decoration: none;
    font-weight: bold;

}

#login a span:hover {
    color: darkgrey;
}

#options {
    width: 100%;
    height: 44.31px;
    background-color: rgb(217, 217, 217);
}

nav {
    background-color: rgb(217, 217, 217);
}


#options .row {
    margin-top: 10px;
}

#options .row p:hover {
    font-weight: bold;
}

#search-mobile,
#logo-mobile,
#login-mobile {
    display: none;
}

/* *copy footer here* */
footer {
    width: 100%;
    height: 248px;
    background-color: rgb(49, 92, 76);
    margin-top: 4rem;
}

/* *config for mobile* */
@media screen and (max-width: 991px) {
    #head {
        display: none;
    }

    #options {
        top: 0;
    }

    #mobile {
        width: 100%;
        margin-left: 0px;
    }

    #button-mobile {
        margin-top: 6px;
    }

    #button-mobile button {
        width: 40px;
        height: 35px;
        padding: 0;
    }

    #button-mobile .navbar-toggler-icon {
        width: 30px;
    }

    #logo-mobile {
        display: block;
        text-align: center;
        padding: 0;
    }

    #logo-mobile img {
        width: 125px;
        border-radius: 6px;
    }

    #login-mobile {
        display: block;
        text-align: right;
        margin-top: 3px;
    }

    #search-mobile {
        display: block;
    }

}


/* ************************************************** */
/* ********************* MAIN *********************** */
/* ************************************************** */

main {
    margin-top: 2.5rem;
}

#banner,
#product {
    padding: 0% 17%;
}

#banner img {
    border-radius: 6px;

}

#banner #carouselExampleControls {
    border-radius: 6px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 1px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

#product #men,
#women,
#unisex {
    border-radius: 6px;
    background-color: rgb(217, 217, 217);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#women,
#unisex {
    margin-top: 3rem;
}

#product #title {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    color: white;
    background-color: rgb(49, 92, 76);
    padding: 1% 3%;
}

#product .detail {
    padding: 0% 2% 4% 11.5%;
}

.card {
    margin-right: 1rem;
    margin-top: 2%;
    width: 16rem;
}

.card-title {
    color: black;
}

.card-title:hover {
    color: blue;
}

#card1 {
    height: 120px;
    overflow: hidden;
    font-size: small;
}

a {
    text-decoration: none;
}

.btn {
    background-color: rgb(38, 115, 87);
    color: rgba(240, 248, 255, 0.845);
    font-size: 12px;
    font-weight: bold;
    width: 100%;
}

#more {
    width: 4rem;
    height: 4rem;
    padding: 0;
    position: relative;
    top: 11rem;
    left: 7rem;
}

/* ************************************************** */
/* ***************** MAIN MOBILE ******************** */
/* ************************************************** */
@media screen and (max-width: 991px) {
    main {
        margin-top: 2.5rem;
        font-size: 10px;
    }

    #banner,
    #product {
        padding: 0% 2%;
    }

    #product .detail {
        padding: 0% 2% 2% 8%;
    }

    .card {
        margin-right: 0.5rem;
        width: 9.5rem;
    }

    .card-text {
        display: none;
    }

    #card1 {
        height: 110px;
    }

    #more {
        width: 4rem;
        height: 4rem;
        padding: 0;
        position: relative;
        top: 6rem;
        left: 4rem;
    }

}